.container{
    border: 4px solid white;
    position: relative;
    overflow: hidden;

}

.loginform{
    min-height: 300px;
}

.imgBox{
    position: absolute;
    top: 0;
    let: 0;
    width: 100%;
    z-index: -1;
}

.imgBox img{
    width: 100%;
    margin: 0;
}